@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #10141E;
    color: white;
}

.title {
    text-transform: capitalize;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #5A6A90;
    /* display: none; */
}

*::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
}

.imgShwd {
    position: relative;
}

.imgShwd::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}




.typespan {
    padding: 2px 7px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    left: 120px;
}

.centered-div {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* Other styles */
}