@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #10141E;
}
.title {
    text-transform: capitalize;
    font-size: 25px;
    letter-spacing: 1px;
margin-bottom: 10px;
}

.typespan{
    
}
